<div class="single-testimonial">
    <div class="content-block">
        <p> {{ content }} </p>
    </div>
    <div class="client-info">
        <img src={{ client_avatar }} alt={{ client_name }}>
        <div class="client-name-block">
            <h6 class="client-name">{{ client_name | upper }}</h6>
            <p class="client-position">{{ client_position }}</p>
        </div>
    </div>
</div>